*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(a.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: new time roman;
}
h1{
    font-size: 40px;
    color:  black;
    margin-top: 20px;
    margin-bottom: 30px
}
.lable{
    font-size:  19px;
    margin-top: 20px;
    font-weight: normal;
}
.form-control{
    background: rgba(255,255,255,0.2);
    border:0px;
    border-radius :0px;
    border-bottom:2px;
    font-size:21px;
    color: white;
}